extends layout

block content
  .container.animated.fadeIn
    h1 HIGH SCORES
    table
      tr
        th Rank
        th Name
        th Points
      tr
        td.first 1st
        td.first= users[0].username
        td.first= users[0].points
        tr
          td.second 2nd
          td.second= users[1].username
          td.second= users[1].points
        tr
          td.third 3rd
          td.third= users[2].username
          td.third= users[2].points
        tr
          td 4th
          td= users[3].username
          td= users[3].points
        tr
          td 5th
          td= users[4].username
          td= users[4].points
        tr
          td 6th
          td= users[5].username
          td= users[5].points
        tr
          td 7th
          td= users[6].username
          td= users[6].points
        tr
          td 8th
          td= users[7].username
          td= users[7].points
        tr
          td 9th
          td= users[8].username
          td= users[8].points
        tr
          td 10th
          td= users[9].username
          td= users[9].points
